@import url('../index.css');

main{
    padding: 0 1rem;
}
main section{
    margin-bottom: 6rem;
}
.first{
    flex-direction: row-reverse;
    column-gap: 4rem;
}
.introcaption{
    color: var(--secondary);
}
.introcaption::before{
    content: ' ';
    top: 0;
    width: 300rem; 
    background: var(--secondary);
    margin-right: 1rem;
}
.featured{
  aspect-ratio: 1/0.75;
  width: min(540px, 100%);
  border-radius: var(--border);
}
.first div{
    flex: 1 1 min(100px, 100%);
}
.second, .sec{
  gap: 1rem;
}
.card{
    align-self: stretch;
    background: var(--tetiary);
    border-radius: var(--border);
    padding: 1rem;
    flex: 1 1 min(25%, 400px);
    gap: .5rem;
}
.crest{
    background: var(--secondary);
    padding: .8rem;
    border-radius: var(--border);
    box-shadow: -7px -7px hsla(145, 61%, 59%, .2);
    margin-right : 1rem;
}
.container.us{
    flex-wrap: nowrap;
    padding: 1rem;
    border-radius: inherit;
}
.us:hover{
    background: var(--neutral);
    box-shadow: 0 0 80px hsla(0, 0%, 0%, .1);
}
.chose{
    flex: 1 1 min(10%, 1000px);
    background: hsl(0, 0%, 98%);
    border-radius: var(--border);
}
.third{
    gap: 4rem;
    align-items: stretch;
}
.teams, .lead{
    gap: 1rem;
}
.team{
    border-radius: var(--border);
}
.centetred{
  text-align: center;
  width: 100%;
}
.testemonial{
  background: var(--tetiary);
  border-radius: var(--border);
  flex: 1 1 max(50%, 400px);
  padding: 1rem;
}
.form{
  background: hsla(204, 77%, 71%, 1);
  border-radius: var(--border);
  padding: 0 2rem;
  padding-top: 1rem;
}
.form img{
  width: min(300px, 100%);
  height: auto;
  align-self: flex-end;
  margin-top: -15%;
  transform: scaleX(-1);
}
form{
  gap: .5rem;
  flex: 1 1 min(50%, 400px);
  margin-bottom: 1rem;
}
form button.button{
  background: var(--neutral);
  color: var(--primary);
  margin-right: auto;
}
input.input{
  height: 2.5rem;
  flex: 1 1 min(200px, 100%);
  background: hsla(204, 83%, 59%, 1);
}
input, ::placeholder, textarea{
    color: var(--neutral);
    background: hsla(204, 83%, 59%, 1);
    width: 100%;
    height: 5rem;
    padding: .3rem;
}
.two{
  flex: 1 1 min(200px, 100%);
}
.two img{
  width: 100%;
  height: auto;
  border-radius: var(--border);
}
section.container.seventh{
  justify-content: space-between;
}
@media screen and (max-width: 769px){
  .form img{
    display: none;
  }
}