@import url('../index.css');

main{
    padding: 0 5rem;
}
main section{
    margin-bottom: 6rem;
}
.first{
    flex-direction: row-reverse;
    column-gap: 4rem;
}
.introcaption{
    color: var(--secondary);
}
.introcaption::before{
    content: ' ';
    top: 0;
    width: 300rem; 
    background: var(--secondary);
    margin-right: 1rem;
}
.featured{
  aspect-ratio: 1/0.75;
  width: min(540px, 100%);
  border-radius: 30px;
}
.first div{
    flex: 1 1 min(100px, 100%);
}

.card{
    background: var(--tetiary);
    border-radius: 30px;
    padding: 1rem;
    flex: 1 1 min(25%, 400px);
    gap: .5rem;
}
.crest{
    background: var(--secondary);
    padding: .8rem;
    border-radius: 30px;
    box-shadow: -7px -7px hsla(145, 61%, 59%, .2);
    margin-right : 1rem;
}
.container.us{
    flex-wrap: nowrap;
    padding: 1rem;
    border-radius: inherit;
}
.us:hover{
    background: var(--neutral);
    box-shadow: 0 0 80px hsla(0, 0%, 0%, .1);
}
.chose{
    flex: 1 1 min(10%, 1000px);
    background: hsl(0, 0%, 98%);
    border-radius: 30px;
}
.third{
    gap: 4rem;
    align-items: stretch;
}