*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  color: currentcolor;
  border: 0;
  outline: 0;
  position: relative;
  text-align: inherit;
}
:root{
  --primary: hsla(204, 70%, 63%, 1);
  --secondary: hsla(145, 61%, 59%, 1);
  --tetiary: hsla(204, 70%, 63%, 0.2);
  --neutral: white;
  --border: 30px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  background: var(--primary);
  color: var(--neutral);
  border-radius: var(--border);
  padding: 8px 20px;
}
.siteTitle{
  background-clip: text;
  background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 50%);
  color: transparent;
  width: max-content;
}
it{
background: hsla(0, 0%, 100%, 1);
background: hsla(0, 0%, 27%, 1);
background: hsla(0, 0%, 7%, 1);
background: hsla(0, 0%, 7%, 1);
background: hsla(0, 0%, 82%, 1);
background: hsla(0, 0%, 96%, 1);
background: hsla(0, 0%, 100%, 1);
background: hsla(0, 0%, 24%, 1);
background: hsla(221, 43%, 11%, 1);
background: hsla(0, 0%, 0%, 1);
background: hsla(0, 0%, 100%, 1);
background: hsla(145, 61%, 59%, 0.2);
background: hsla(204, 83%, 59%, 1);
background: hsla(204, 70%, 63%, 0.3);
background: hsla(204, 85%, 84%, 0.2);
background: hsla(206, 88%, 97%, 1);
background: hsla(204, 96%, 27%, 1);
background: linear-gradient(270deg, #58D68D 0%, #5DADE2 100%);
background: linear-gradient(180deg, rgba(93, 173, 226, 0) 0%, #5DADE2 100%);
background: hsla(204, 70%, 63%, 0.2);
background: hsla(204, 77%, 71%, 1);
background: hsla(0, 0%, 82%, 1);
background: hsla(0, 0%, 100%, 0.3);
background: hsla(0, 0%, 100%, 0.2);
}