*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  color: currentcolor;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#header.container{
  width: 87.7%;
  margin: auto;
  justify-content: space-between;
}
#siteTitle{
  background-clip: text;
  background-image: linear-gradient(to right, #5DADE2 50%, #58D68D 50%);
  color: transparent;
  width: max-content;

}
#first{
  flex: 1 1 min(27%, 100%);
}
.head{
  justify-content: space-between;
  flex: 1 1 70%;
}
#contact-us, #book{
  background: hsla(204, 70%, 63%, 1);
  color: white;
  border-radius: 30px;
  padding: 8px 20px;
  border: none;
  outline: none;
  position: relative;
}
#contact-us::before{
  content: ' ';
  position: absolute;
  z-index: -1;
  background: hsla(204, 70%, 63%, 0.2);
  top: -4px;
  bottom: -4px;
  left: -10px;
  right: -10px;
  border-radius: 40px;
}
#heroes{
  background: linear-gradient(270deg, hsl(145, 61%, 86%) 0%, hsl(203, 70%, 90%) 100%);
  height: 40rem;
  flex-direction: row-reverse;
}
#write{
  flex: 1 1;
}
#woman{
  aspect-ratio: 1/1;
  width: 540px;
  justify-self: baseline;
}
#health{
  color: #5DADE2;
}
#priority{
  color: #58D68D;
}